*{
  font-family: arial,sans-serif;
  /*border: 1px dashed black;*/
}

#contenedor{
  max-width: 1000px;
  margin: 0px auto;
}

.cabecera{
  font-size: 13px;
  float: right;

}

.centro{

}

.imagengoogle{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.areadetexto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
